.lake-mxgraph {
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  height: 100%;
}

.lake-mxgraph-nav {
  border-bottom: 1px solid #e8e8e8;
  line-height: 24px;
  padding: 4px 12px;
  font-size: 14px;
  color: #595959;
  display: flex;
  justify-content: space-between;
}

.lake-mxgraph-nav .mxgraph-actions {
  display: flex;
}

.lake-mxgraph-nav .mxgraph-actions button {
  background: none;
  border: 1px solid #fff;
  height: 24px;
  cursor: pointer;
  line-height: 22px;
}

.lake-mxgraph-preview {
  min-height: 40px;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.lake-mxgraph .lake-mxgraph-warp {
  display: none;
}

.lake-mxgraph-maximize .lake-mxgraph-warp {
  display: block;
  height: 100%;
}

.lake-mxgraph-maximize .lake-mxgraph-nav, .lake-mxgraph-maximize .lake-mxgraph-preview {
  display: none;
}
