.lake-section-block-max .lake-text-diagram {
  height: 100%;
  background: #fff;

}

.lake-section-block-max .lake-text-diagram .diagram-preview {
  display: none;

}

.lake-text-diagram-stage {
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #e8e8e8;

}

.lake-text-diagram-stage ul {
  list-style: none;
  margin: 0;

}

.lake-text-diagram-stage li {
  margin: 0;

}

.lake-text-diagram-nav {
  border-bottom: 1px solid #e8e8e8;
  line-height: 24px;
  padding: 4px 12px;
  font-size: 14px;
  color: #595959;

}

.lake-text-diagram-nav a,
.lake-text-diagram-nav a:hover {
  color: #595959;

}

.lake-text-diagram-nav .diagram-name {
  font-weight: bold;

}

.lake-text-diagram-nav .diagram-template-selector,
.lake-text-diagram-nav .diagram-help {
  margin-right: 24px;

}

.lake-text-diagram-nav .diagram-actions {
  float: right;

}

.lake-text-diagram-nav .diagram-actions .diagram-preview {
  background: none;
  border: 1px solid #fff;
  height: 24px;
  cursor: pointer;
  line-height: 22px;

}

.lake-text-diagram-nav .diagram-actions .diagram-preview .anticon {
  margin-right: 4px;

}

.lake-text-diagram-nav .diagram-actions .diagram-preview:focus {
  outline: none;

}

.lake-text-diagram-nav .diagram-actions .diagram-preview-active {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  background: #f5f5f5;

}

.lake-text-diagram-editor {
  overflow: auto;
  font-size: 12px;
  background-color: #f9f9f9;

}

.lake-text-diagram-layout-default .lake-text-diagram-editor-wrap {
  position: relative;
  max-height: 480px;

}

.lake-text-diagram-layout-default .lake-text-diagram-preview {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0;
  background-color: #fff;
  z-index: 10;

}

.lake-text-diagram-layout-default .lake-text-diagram-editor {

  min-height: 80px;

  max-height: 480px;

}

.lake-text-diagram-preview {
  position: relative;

}

.lake-text-diagram-preview pre {
  margin: 16px;

}

.lake-text-diagram-preview .lake-icon-loading {
  width: 36px;
  height: 36px;
  position: absolute;
  top: calc(50% - 22px);
  left: 50%;
  text-align: center;
  color: #666;
  font-size: 36px;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;
  -webkit-animation: loading 0.8s linear infinite;
  animation: loading 0.8s linear infinite;

}

.lake-text-diagram-layout-two-column {
  height: 100%;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e8e8e8;

}

.lake-text-diagram-layout-two-column .lake-text-diagram-nav {
  position: absolute;
  padding-left: 18px;
  top: 0;
  width: 100%;

}

.lake-text-diagram-layout-two-column .lake-text-diagram-editor-wrap {
  width: 100%;
  height: 100%;
  padding-top: 33px;
  overflow: auto;
  display: flex;

}

.lake-text-diagram-layout-two-column .lake-text-diagram-editor {
  height: 100% !important;
  max-height: unset;
  width: 50%;

}

.lake-text-diagram-layout-two-column .lake-text-diagram-preview {
  height: 100%;
  width: 50%;
  overflow: auto;
  border-left: 1px solid #e8e8e8;
  padding: 12px;

}
